.card-clima{
  border: solid 1px #000;
  width: 200px;
  height: 200px;
  margin: 5px;
  display: inline-block;
  box-shadow: 0 2px 2px #000;
  border-radius: 20px;

}

.card-title-day{
  text-align: center;
}

.card-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;

}

.card-item-temp{
  margin: 25px;
  display: inherit;
}
.card-item-temp-box{
  display: inline;
  align-content: space-between;
}
